* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    /*outline: 1px red dashed;*/
}
@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

header {
    border-bottom: 1px #ececec solid;
    margin: 0 auto;
    padding: 25px 0;
}
.head-wrap {
    display: flex;
    align-items: center;
}
img[alt="logo"] {
    margin-right: 14px;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-txt {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-right: 37px;
}

.logo-txt > span {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.searchbar {
    display: flex;
    width: 403px;
    height: 39px;
    margin-right: 10px;
}
.searchbar a {
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    padding: 10px 27px 10px 11px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    text-decoration: none;
}
.searchbar input {
    border: 1px solid #e6e6e6;
    border-left: none;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-basis: 280px;
}
.searchbar button {
    background-color: transparent;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    border-left: none;
    cursor: pointer;
    width: 39px;
    height: 39px
}

.searchbar button::before {
    content: "\f002";
    font-family: FontAwesome;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
}
@media screen and (max-width: 830px){
    .searchbar input {
        display: none;
    }
    .cart {
        margin-left: 36px;
    }
}

.cart {
    margin-left: auto;
    margin-right: 36px;
    width: 32px;
    height: 32px;
}

.account {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    background-color: #f16d7f;
    padding: 10px 29px 10px 19px;
    transition: transform .1s linear;
}
.account:hover {
    background-color: #ffffff;
    color: #f16d7f;
    outline: 1px solid #f16d7f;
    transform: scale(1.1);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
nav {
    margin: 15px auto 0 auto;
    text-align: center;
}
nav a {
    color: #222222;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 7px;
    padding-left: 22px;
    padding-right: 22px;
}
.active-nav {
    display: inline-block;
    border-bottom: 3px solid #f16d7f;
}
nav a:hover {
    color: #f16d7f;
}
.slider {
    background-color: #e8e8e8;
    background-image: url("img/smiling-man.png");
    background-repeat: no-repeat;
    background-position: 50% 97%;
    margin-bottom: 98px;
    padding-top: 208px;
    padding-bottom: 286px;
  }
.categories-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-height: 823px;
}
.category {
    position: relative;
}
.category a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.category:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.category:nth-child(odd) {
    margin-bottom: 20px;
}
.category:nth-child(1),
.category:nth-child(2) {
    margin-right: 20px;
}
.category:nth-of-type(1) {
    min-height: 542px;
    width: 560px;
    background-image: url("img/for-men.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.category:nth-of-type(2) {
    min-height: 261px;
    width: 560px;
    background-image: url("img/luxurious.png");
    background-color: #dadad2;
    background-repeat: no-repeat;
    background-position: right;
}
.category:nth-of-type(3) {
    min-height: 261px;
    width: 560px;
    background-image: url("img/for-women.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.category:nth-of-type(4) {
    min-height: 542px;
    width: 560px;
    background-image: url("img/for-kids.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.categ-txt {
    display: inline-block;
    background-color: #ffffff;
    margin-top: 27px;
    padding: 12px 17px 10px 19px;
}
.categ-txt p:nth-child(1) {
    /* Style for "HOT HEAL" */
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.categ-txt p:nth-child(2) {
    /* Style for "FOR WHO" */
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.featured-items {
    margin-bottom: 110px;
}
.featured-items__h2 {
    text-align: center;
    margin-top: 95px;
    margin-bottom: 10px;
}
.featured-items__p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.35px;
    margin-bottom: 55px;
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
}
.product {
    flex-shrink: 0;
    margin-bottom: 40px;
    position: relative;
    width: 260px;
    height: 363px;
}
.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.product__img {
    display: block;
    width: 100%;
    height: 280px;
}
.add-to-cart {
    visibility:hidden;
    background: rgba(34,34,34,0.8);
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 83px;
    /*padding-top: 37%;*/
    /*padding-left: 26.5%;*/
}
.product__pad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 123px;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
}
.product__button {
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 1px #ffffff solid;
    border-radius: 3px;
    display: inline-block;
    color: #ffffff;
}
.product__cart {
    background-image: url(img/cart-white.png);
    background-size: 23px 22px;
    background-position: 10px 50%;
    width: 123px;
    height: 39px;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 0 13px 27px;
    margin-bottom: 9px;
}
.product__share {
    background-image: url("img/share.png");
    background-position: center;
    background-size: 22px 12px;
    width: 57px;
    height: 38px;
}
.product__like {
    background-image: url("img/like.png");
    background-position: center;
    background-size: 16px 15px;
    width: 57px;
    height: 38px;
}
.product:hover .add-to-cart {
    visibility: visible;
}
figcaption {
    padding-left: 12px;
    padding-top: 14px;
    padding-bottom: 15px;
}
figcaption a {
    text-decoration: none;
}
figcaption h3 {
    margin-bottom: 10px;
}
figcaption h3 a {
    /* Style for "Mango  Peo" */
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
figcaption p a {
    /* Style for "$52.00" */
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
@media screen and (max-width: 1100px){
    .product-cards {
        justify-content: space-evenly;
    }
    .product {
        margin-right: 20px;
    }
}
.all-products-link {
    display: block;
    width: 212px;
    margin: 0 auto;
    text-align: center;
    background-color: #f16d7f;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    transition: all 0.5s ease-in-out;
}
.all-products-link:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    transform: scale(1.05);
}
.tag-content {
    position: relative;
}
.tag-content::before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 8.5px;
    left: 0;
    width: 12px;
    background-color: #f16d7f;
}
.tag-texts {
    padding-left: 24px;
}
.tag-txt-1 {
    display: block;
    color: #222222;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    padding-left: 3px;
    letter-spacing: 1.5px;
}
.tag-txt-2 {
    color: #222222;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.75px
}
.tag-txt-2 span {
    color: #f16d7f;
}
.features {
    margin-bottom: 97px;
}
.feature {
    display: flex;
}
.feature-tag {
    width: 767px;
    background-image: url("img/offer30.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.feature-tag-text {
    margin-top: 132px;
    margin-left: 38px;
}
.discount {
    display: block;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.red-offer-word {
    color: #f16d7f;
}
.offer-for {
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.9px;
}
.feature-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 1;
    background-color: #222224;
}
.feature-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.feature-box:first-of-type {
    padding-top: 45px;
}
.feature-box:nth-of-type(1),
.feature-box:nth-of-type(2) {
    padding-bottom: 50px;
}
.feature-box:last-of-type {
    padding-bottom: 60px;
}
.feat-txt {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}
.feat-txt h3 {
    color: #fbfbfb;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.feat-txt span {
    max-width: 236px;
    color: #fbfbfb;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0;
}
@media (max-width: 1100px){
    .feature-tag {
        display: none;
    }
    .feature-info {
        flex-direction: row;
    }
    .feature-box {
        padding: 50px 0;
        max-width: 300px;
    }
    .feature-box img {
        margin-left: 5px;
        margin-right: 15px;
    }
}
@media (max-width: 800px) {
    .feature-info {
        flex-wrap: wrap;
    }
    .feature-box {
        width: 100%;
        margin: 0 auto;
    }
    .feature-product-items {
        flex-direction: column;
    }
    .feature-product-items .feature-prod-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 45px;
    }
}

.subscription {
    background-image: url("img/beach-bright.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-wrapper {
    display: flex;
    align-items: flex-start;
}
.slide {
    flex-basis: 570px;
    position: relative;
    padding-top: 110px;
    padding-bottom: 155px;
}
.slide::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}
.quote {
    display: flex;
    align-items: flex-start;
    padding-right: 50px;
}
.quote p {
    display: flex;
    flex-direction: column;
}
.quote p span:nth-of-type(2){
    /* Style for "Bin Burhan" */
    color: #f16d7f;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-top: 19px;
}
.quote p span:nth-of-type(3){
    /* Text style for "Dhaka, Bd" */
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.3px;
    margin-top: -10px;
    margin-bottom: 32px;
}
.sub-mail {
    margin: auto;
}
img[alt="face"] {
    padding-right: 28px;
    transition: transform 2s;
}
img[alt="face"]:hover {
    transform: scale(1.1) rotate(720deg);
}
.slide span {
    max-width: 391px;
    color: #222224;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
}
.sub-mail p:nth-of-type(1) {
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}
.sub-mail p:nth-of-type(2) {
    color: #222224;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 31px;
}
.sub-form {
    display: flex;
    width: 386px;
}
.sub-form__input {
    border: none;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-basis: 280px; /*  334px  */
}
.sub-form__button {
    border: none;
    color: #ffffff;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    cursor: pointer;
    width: 104px;
    height: 46px;
    text-align: center;
    font-size: 14px;
    line-height: 46px;
    font-weight: 400;
}
.sub-form__button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px #f16d7f solid;
    transition: all 250ms;
}
.slide-bar {
    display: flex;
}
.slide-button {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 13px;
}
.slide-button:nth-of-type(2) {
    background-color: #f16d7f;
}
.upper-foot-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 80px;
}
.brand {
    max-width: 423px;
    margin-right: 68px;
    margin-top: -15px;
}
.brand-text {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 20px;
}
.brand-text p:first-of-type {
    margin-bottom: 10px;
}
.company,
.information,
.shop-category {
    min-height: 238px;
}
.company,
.information {
    margin-right: 112px;
}
.company h3 a,
.information h3 a,
.shop-category h3 a {
    display: block;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 40px;
}
.company h3 a:hover,
.information h3 a:hover,
.shop-category h3 a:hover {
    color: #222222;
}
.company p a,
.information p a,
.shop-category p a {
    display: block;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 20px;
}
.company p a:hover,
.information p a:hover,
.shop-category p a:hover {
    color: black;
}
.lower-footer {
    background-color: #e6e6e6;
}
.lower-foot-wrapper {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower-foot-wrapper span {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
}
.social-icon {
    display: flex;
}
.social-icon a {
    display: block;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin-left: 8px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 6px;
}
.social-icon a:hover {
    color: white;
    background-color: #f16d7f;
}
.social-icon a:active {
    background-color: #eeeeee;
}

/*      Product page      */

.new-arrivals {
    background-color: #f8f3f4;
    margin-bottom: 60px;
}
.new-arrivals:hover {
    animation: animate-background-clr 50s infinite linear;
}
.bread-block {
    display: flex;
    align-items: center;
}
.breadcrumbs-h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 60px 0;
}
.breadcrumbs,
.breadcrumbs a {
    text-decoration: none;
    /* Style for "Home / Men" */
    margin-left: auto;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}
.breadcrumbs a:hover {
    color: #222222;
}
.active-element {
    color: #f16d7f;
    font-weight: 700;
}

.product-selection {
    margin-bottom: 110px;
}
.product-selection-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 50px;
}
.sidebar-item {
    margin-bottom: 18px;
}
.sidebar a {
    color: #6f6e6e;
}
.sidebar-link {
    display: block;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    padding-left: 17px;
}
.sidebar-link:hover {
    color: #f16d7f;
}
.sidebar-title {
    position: relative;
    display: block;
    background-color: transparent;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    border-top: none;
    border-right: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding: 10px 0 12px 11px;
    width: 225px;
    text-align: left;
    cursor: pointer;
}
.sidebar-title:hover {
    color: #f16d7f;
}
.sidebar-title:hover::after {
    border-color: #f16d7f transparent transparent transparent;
}
.sidebar-title::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 4.5px 0 4.5px;
    border-color: #6f6e6e transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transition: .5s linear;
}
.sidebar-input {
    visibility: hidden;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    position: absolute;
}
.sidebar-txt {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease-out;
    transition: .5s ease-out;
}
.sidebar-input:checked ~ .sidebar-txt {
    max-height: 2500px;
    -webkit-transition: all 1s linear;
    transition: 1s linear;
}
.sidebar-input:checked ~ .sidebar-title { /* чтобы это сработало, нужно чтобы input был выше label*/
    color: #f16d7f;
}
.sidebar-input:checked ~ .sidebar-title::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 4.5px 6px 4.5px;
    border-color: transparent transparent #f16d7f transparent;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transition: .5s ease-out;
}
.top-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 840px;
    margin-bottom: 45px;
}
.filter-trending {
    flex-basis: 280px;
    margin-bottom: 30px;
}
.filter-size {
    flex-basis: 280px;
    margin-bottom: 30px;
}
.filter-price {
    flex-basis: 280px;
    margin-bottom: 30px;
}
.filter-sort_by {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 300px;
    height: 50px;
    background-color: #f3f3f3;
    padding-left: 10px;
}
.filter-title{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.trending-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
}
.trending-item {
    display: block;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}
.trending-item:hover {
    color: #f16d7f;
}
.trending-item:nth-of-type(1),
.trending-item:nth-of-type(2),
.trending-item:nth-of-type(4),
.trending-item:nth-of-type(5) {
    border-right: 1px solid #dfdfdf;
}
.size-items-wrapper {
    display: flex;
}
.size-vertical-wrapper {
    display: flex;
    flex-direction: column;
    width: 60px;
}
.size-vertical-wrapper label {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.size-checkbox {
    margin-right: 9px;
    margin-bottom: 9px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}
img[alt=progress-bar] {
    display: block;
    margin: 0 auto 7px auto;
}
.progress-bar-price {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
}
.max-price {
    float: right;
}
.filter-selector-txt {
    box-sizing: border-box;
    height: 30px;
    padding: 5px 5px 5px 10px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-right: none;
}
.filter-selector {
    box-sizing: border-box;
    width: 85px;
    height: 30px;
    padding: 5px 5px 5px 10px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ebebeb;
}
.pagination {
    display: flex;
    justify-content: space-between;
}
.page-selection {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 10px 15px;
    word-spacing: 14px;
    color: #c4c4c4;
    font-size: 16px;
}
.view-all {
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    transition: transform 0.3s linear;
}
.view-all:hover {
    border-radius: 3px;
    border: 1px solid #ef5b70;
    background-color: #ef5b70;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    transform: scale(1.05);
}

.feature-product {
    background-color: #222222;
    /*min-height: 340px;*/
    /*margin-top: 110px;*/
}
.feature-product-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 105px;
}
.feature-prod-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
}
.feature-prod-item:not(:last-child) {
    margin-right: 15px;
}
.feature-headline {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}
.feature-txt {
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
}
.checkout {
    margin-top: 90px;
    margin-bottom: 75px;
}
.accordion {
    list-style-type: none;
}
.accordion__input {
    visibility: hidden;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.accordion__title {
    display: block;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    cursor: pointer;
}
.accordion__title:hover {
    color: #f16d7f;
}
.accordion__item {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 25px;
}
.accordion__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
}
.accordion__input:checked ~ .accordion__content {
    max-height: 2500px;
    margin-bottom: 80px
    /*transition: 2s ease-in-out;*/
}
.checkout-form {
    flex-basis: 535px;
    min-width: 320px;
    padding-left: 35px;
}
.checkout-form:first-child {
    margin-right: 15px;
}
@media screen and (max-width: 1129px) {
    .checkout-form:first-child {
        margin-bottom: 15px;
    }
}
.checkout-form_headline {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.checkout-form_txt {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    list-style-type: none;
    margin-bottom: 10px;
}
.checkout-form_ul {
    margin-top: 26px;
}
.checkout-form_ul .checkout-form_txt::before {
    content: ">>";
    margin-right: 5px;
}
.checkout-form_label {
    display: block;
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.checkout-form_label span {
    color: #ff0d0d;
    font-size: 17px;
    font-weight: 400;
}
.required-field {
    color: #ff0d0d;
    font-size: 13px;
    font-weight: 400;
}
.checkout-form_radio {
    margin-right: 12px;
    margin-bottom: 15px;
}
.radio-buttons {
    margin-top: 25px;
    margin-bottom: 22px;
}
.button-site {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 1s;
}
.button-site:hover {
    border-color: transparent;
    background-color: #f16d7f;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.button-site_page_checkout {
    margin-top: 30px;
    padding: 15px 40px 15px 40px;
}
@keyframes animate-background-clr {
    5% {
        background-color: #ffffff;
    }
    10% {
        background-color: #f8f3f4;
    }
    15% {
        background-color: #e9ff56;
    }
    20% {
        background-color: #6dff28;
    }
    30% {
        background-color: #52cec0;
    }
    40% {
        background-color: #ff9fe8;
    }
    50% {
        background-color: #7bcbff;
    }
    60% {
        background-color: #ffa874;
    }
    70% {
        background-color: #ffc649;
    }
    80% {
        background-color: #73ffbc;
    }
    90% {
        background-color: #ddff00;
    }
    100% {
        background-color: #ffffff;
    }
}
.login-info {
    margin-top: 20px;
}
.checkout-form_input {
    display: block;
    border: 1px solid #eaeaea;
    padding-left: 15px;
    width: 390px;
    height: 43.5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.reset-password-link {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    margin-left: 30px;
}
.reset-password-link:hover {
    color: #f16d7f;
}
/*       SHOPPING CART       */

.shopping-cart {
    /*outline: 1px red dashed;*/
    margin-top: 90px;
    margin-bottom: 80px;
}
.details {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 45px;
}
.details th {
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;
    border-bottom: 1px solid #eaeaea;
}
.details th:first-child,
.details td:first-child {
    text-align: left;
}
.details th:last-child,
.details td:last-child {
    text-align: right;
}
.details td {
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: center;
    border-bottom: 1px solid #eaeaea;
}
.details td:nth-child(2),
.details td:nth-child(3),
.details td:nth-child(4),
.details td:nth-child(5) {
    text-align: center;
}
.details__art {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /*outline: 1px black solid;*/
}
.details__text {
    margin-left: 20px;
    margin-top: 10px;
}
.cart_image {
    display: block;
    width: 100px;
}
.cart_image:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.details__text > span {
    display: block;
}
.details__text-headline {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.35px;
}
.details_text-specs {
    color: #6f6e6e;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.75px;
}
.details_text-specs > span {
    font-weight: 400;
}
.details__unit-price,
.details__shipping,
.details__subtotal,
.details__action {
    font-size: 13px;
    line-height: 20px;
    color: #656565;
    font-weight: 400;
    text-transform: uppercase;
}
.details__action {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin-right: 18px;
}
.details__action:hover {
    color: #f16d7f;
}
.details__input {
    width: 54px;
    padding: 5.5px 1px 5.5px 22px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}
.details__input:focus {
    border: 1px solid #222222;
}
.stretch-horizontally {
    display: flex;
    justify-content: space-between;
    align-items: center;
}